@model Getch_website.Model_Consulta.ListaDeEventos
@{
    Layout = "";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDoEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeParticipantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeParticipantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToneladasAdquiridas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToneladasAdquiridas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeRealizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeRealizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraRealizada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraRealizada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoDoEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDoEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDoResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoResponsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApelidoDoResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApelidoDoResponsavel)
        </dd>

    </dl>
</div>
