@model Getch_website.Model_Consulta.ListaDeConsultasMedicas

@{
    Layout = "";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeKwendy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeKwendy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApelidoKwendy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApelidoKwendy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneKwendy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneKwendy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDoHospital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoHospital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraDaConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraDaConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDaConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDaConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDoMedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoMedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApelidoDoMedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApelidoDoMedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeMarcao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeMarcao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoDaConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDaConsulta)
        </dd>

    </dl>
</div>
