@model Getch_website.Model_Consulta.FichaMedicaDoKwendy

<div>
    @*<h4>FichaMedicaDoKwendy</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Relatório Médico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatorioMedico)
        </dd>

        <dt>
          Peso 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoActual)
        </dd>

        <dt>
           Altura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CodigoUtente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoUtente)
        </dd>*@

        <dt>
           Alergico:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alergias)
        </dd>

        <dt>
        Nome da alergia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimeiraAlergia)
        </dd>

        <dt>
         Nome da alergia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundaAlergia)
        </dd>

        <dt>
         Nome da alergia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerceiraAlergia)
        </dd>

        <dt>
            Nome da alergia:
        </dt>

        <dt>
            @Html.DisplayFor(model => model.QuartaAlergia)
        </dt>

        @*<dd>
         Nome da alergia:
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Fracturas)
        </dt>

        <dd>
           Fracturas sofridas
        </dd>

        <dt>
           Perna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perna)
        </dd>

        <dt>
           Braços
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bracos)
        </dd>

        <dt>
           Cabeça
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cabeca)
        </dd>

        <dt>
          Coluna vertebral
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coluna)
        </dd>

        <dt>
           Probelmas de visão
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemasDeVisao)
        </dd>

        <dt>
           Graduação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduacaoActual)
        </dd>

        <dt>
            Doenças Hereditárias
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoencasHereditaria)
        </dd>

        <dt>
           Nome da doença
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimeiraDoencasHereditaria)
        </dd>

        <dt>
            Nome da doença
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundaDoencasHereditaria)
        </dd>

        <dt>
            Nome da doença
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerceiraDoencasHereditaria)
        </dd>

        <dt>
            Nome da doença
        </dt>

        <dd>
            Nome da doença
        </dd>

        <dt>
          Cirugias sofridas
        </dt>

        <dd>
          S/N
        </dd>

        <dt>
            Descrição da cirugia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimeiraCirugia)
        </dd>

        <dt>
            Descrição da cirugia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundaCirugia)
        </dd>

        <dt>
            Descrição da cirugia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerceiraCirugia)
        </dd>

        <dt>
            Descrição da cirugia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuartaCirugia)
        </dd>

        <dt>
          Estado Psicologico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoPsicologico)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IdKwendy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdKwendy)
        </dd>*@

        <dt>
           Data de criação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
