@model Getch_website.Model_Consulta.ListaDeApadrinhados

<div>
    <h4>ListaDeApadrinhados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Apelido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apelido)
        </dd>

        <dt>
           Sexo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
           Idade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
           Data de Nascimento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>

        <dt>
           Estado Civíl
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
         Nº Documento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDoDocumento)
        </dd>

        <dt>
            Número de Documento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumentoDeIndetidade)
        </dd>

        <dt>
          Data de Validade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeValidadeDoDocumentoDeIdentidade)
        </dd>

        <dt>
           Data de Emissão
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeEmissaoDoDocumentoDeIdentidade)
        </dd>

        <dt>
           Morada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>

        <dt>
           Bairro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
           Município
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            Provincía
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            Código Postal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>

        <dt>
           Nº da Porta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDaPorta)
        </dd>

        <dt>
            Correio Electrónico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
         Telefone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneFixo)
        </dd>

        <dt>
           Telemóvel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telemovel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudo)
        </dt>

        <dd>
            Estado do Membro
        </dd>

        <dt>
           Situação Laboral
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoLaboral)
        </dd>

        <dt>
          Função na Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcao)
        </dd>

        <dt>
           Departamento na Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
           Grau de Participação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrauDeParticipacao)
        </dd>

        <dt>
          Nº de Filhos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeFilhos)
        </dd>

        <dt>
           Crianças a Cargo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriancasACargo)
        </dd>

        <dt>
          Partipação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoDaParticipacao)
        </dd>

    </dl>
</div>
